services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/django/Dockerfile
    image: jogo_local_django
    container_name: jogo_local_django
    volumes:
      - .:/app:z
    ports:
      - '8000:8000'
    command: /start